@charset "utf-8";
/* 초기화 */
html, body, div, header, nav, section, aside, article, footer, figure,
figcaption, legend, ul, ol, li, dl, dt, dd, h1, h2, h3, p {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

/* 링크 스타일 */
a:link {
    text-decoration: none;;
}
a:visited {
    color:inherit;
    text-decoration: none;;
}
a:hover, a:focus {
    color:red;
    text-decoration: none;
}

/* 숨김 콘텐츠*/
.hidden, legend, caption {
    position: absolute;
    left: -9999px;
}



/* 임시로 테두리 색 넣음*/
header,main, section, article, footer {
    border: 1px solid black;
}

/* 헤더 */
header {
    height: auto;
    position: relative;
    background-color: grey;
}
nav {
    position: relative;
    margin: 0 auto;
    max-width: 900px;
    height: 80px;
}
.logo {
    padding-top: 10px;
    width: 100px;
    height: 100px;
    float: left;
}
.bannerdiv {
    float: left;
    padding: 20px;
}
#loginjoin {
    position: absolute;
    right: 0%;
}

/* 푸터 */
footer {
    max-width: 900px;
    height: 200px;
    position: relative;
    text-align: end;
}

body {
    position: relative;
}
/* 맨위로 */
#scrollbtn, #scrollbtn img {
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    bottom: 5%;
    right: 5%;
}
